* {
  margin: 0 auto;
  padding: 0%;
}

.testimonial {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.testimony-wrapper {
  margin-left: 1vw;
  height: 70vh;
  width: 60vw;
  background-color: transparent;
  color: black;
  margin-top: 5em;
  border: solid 1px black;
  font-size: medium;
  font-weight: lighter;

  filter: opacity(0.7);
  z-index: 1;
}

.testimony-text {
  font-size: larger;
  font-weight: lighter;
  margin-top: 1em;
  margin-left: 1em;
  color: black;
  z-index: 2;
}

.side-image {
  text-align: center;
  height: 70vh;
  width: 30vw;
  border: solid 1px black;
  margin-top: 5em;
}
