* {
  margin: 0 auto;
  padding: 0%;
}
/*{
  background-size: 150px;
  background-repeat: space;
  background-image:
    url(/images/cowboy.svg);
}
*/

.home-component {
  background: url("./blue-sky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*background-image: url("./blue-sky.jpg");
  background-size: cover !important ;
  background-repeat: no-repeat !important ;
  width: 98.5vw;
  min-height: 298vh;*/
  z-index: -1;
}

.floater {
  width: 100vw;
  height: 40vh;
  border: solid 2px black;
  filter: opacity(0.5);
  text-align: center;
}
