* {
  margin: 0 auto;
  padding: 0%;
}

.form-wrapper {
  filter: opacity(0.7);
  background-color: white;

  margin-left: 33vw;
  margin-right: 5vw;
  width: 35vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid white;
}

.body {
  background: url("../Home/blue-sky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-bar {
  background: #00bfff;
  height: 10vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin-top: 4em;
  width: 13vw;
  height: 9vh;
  background: white;
}

h4 {
  font-weight: lighter;
}

.submit {
  text-align: center;
  margin-left: 28em;
  width: 7em;
  animation: colors 2s infinite ease-in-out;
  color: white;
}

.selector {
  margin-top: 4em;
  height: 9vh;
  width: 13vw;
}

@keyframes colors {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: aqua;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
